<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="editor-view-styles.html">

<dom-module id="editor-view">
  <style include="editor-view-styles"></style>
  <template>
    <div id="main-container">
      Welcome to JSON Editor
    </div>
  </template>
  <script>
    Polymer({
      is: 'editor-view',

      properties: {},

      ready: function() {}
    });
  </script>
</dom-module>
